.body{
	font-family: 'Cuprum', sans-serif;
}

.content .line{
	max-width: 100px;
	min-height: 4px;
	background: rgba(0,0,0,.15);
	margin: 0 auto;
	margin-top: 30px;
}

.content{
	font-family: 'Cuprum', sans-serif;
	margin: 0 auto;
	width: 960px;
	padding-top: 30px;
}

.content h1{
	text-align: center;
	color: #fff;
	font-size: 38px;
	clear: both;
	text-transform: capitalize;	
}

.content h2{
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin-top: 30px;	
}

.welcome h1{
	margin-top: 180px;
}

.service h1{
	text-transform: uppercase;
}

.welcome{
	background: #87509c;
	min-height: 600px;
}

.welcome-logo{
	display: inline;
	float: left;
	font-size: 40px;
	color: #fff;
}

.welcome-menu{
	float: right;
	margin-top: 15px;
}
.welcome-menu li{
	display: inline-block;
	margin-right: 20px;
	padding: 7px 12px;
	border-radius: 5px;
}

.welcome-menu li.active{
	background: #643a79;
}

.welcome-menu a:link, .welcome-menu a:visited{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


.service{
	background: #17c2a4;
	min-height: 750px;
	padding-top:100px;
}

.service-block{
	width:215px;
	display: inline-block;
	min-height: 480px;
	text-align: center;
	padding: 100px 20px 20px 0;
}

.service-block h1{
	text-align: center;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	padding: 20px 0;
}

.service-block p{
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.team{
	background: #e7f1f8;
	min-height: 900px;
}

.team .content>h1, .skills .content>h1{
	margin-top: 100px;
	color: #3c4761;
	text-transform: uppercase;
	text-align: center;
	font-size: 38px;
}

.service-block .person-photo{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

	.person1{
		background: url(img/cust-1.jpg) no-repeat;
		background-size: cover;
	}

	.person2{
		background: url(img/cust-2.jpg) no-repeat;
		background-size: cover;
	}

	.person3{
		background: url(img/cust-3.jpg) no-repeat;
		background-size: cover;
	}

	.person4{
		background: url(img/cust-4.jpg) no-repeat;
		background-size: cover;
	}

.service-block .person h1{
	color: #27283d;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
	padding-bottom: 5px;
	margin-top: 20px;
}

.service-block .person h2{
	color: #30bae7;
	font-size: 18px;
	text-align: center;
	margin: 0;
}

.service-block .person p{
	text-align: center;
	font-size: 18px;
	color: #27283d;
	margin-top: 20px;
}

.person-social{
	width: 34px;
	height: 34px;
	display: inline-block;
	margin: 25px 5px 0 0;
	border-radius: 50%;
	background: url(img/person-icons.png) no-repeat;
/*	background-position: center;
*/
}

.service-block .person-social:hover{
	background-color: rgba(48, 186,231,.3);
	box-shadow: 0 0 4px 2px rgba(48, 186,231,.3);
	cursor: pointer;
}

.mail{
	background-position: 0px;
}

.linked-in{
		background-position: -33px;
}

.facebook{
	background-position: -66px;
}

.twitter{
	background-position: -99px;	
}

.skills{
	background: #fff;
	min-height: 650px;
}

.skills .content>h2{
	padding-top: 30px;
	color: #3c4761;
	font-size: 20px;
	text-align: center;
	margin: 0;
}

.portfolio .content>h1{
	color: #393939;
	margin-top: 100px;
	text-transform: uppercase;
	text-align: center;
	font-size: 38px;
}

.portfolio .content>h2{
	padding-top: 30px;
	color: #393939;
	font-size: 20px;
	text-align: center;
	margin: 0;
}

.portfolio{
	background: #ffdd99;
	min-height: 1420px;
}

.portfolio-menu{
	text-align: center;
}

.portfolio-menu li{
	display: inline-block;
	text-transform: uppercase;
	margin: 30px 20px 0 0;
	padding: 7px 20px;
	border-radius: 5px;
	background: #ebc985;
}

.portfolio-menu li.active{
	background: #fff;
}

.content .work{
	display: inline-block;
	width: 460px;
	margin-top: 100px;
	padding-top: 275px;
	background-size: contain;
	text-align: center;
	text-transform: uppercase;
}


.work-1{
	background: url(img/work-1.png) no-repeat;
	float: left;
}

.work-2{
	background: url(img/work-2.png) no-repeat;
	float: right;
}

.work-3{
	background: url(img/work-3.png) no-repeat;
	float: left;
}

.work-4{
	background: url(img/work-4.png) no-repeat;
	float: right;
}

.partners{
	background: #d74680;
	min-height: 890px;
}

.partners .content>h1{
	color: #fff;
	margin-top: 100px;
	text-transform: uppercase;
	text-align: center;
	font-size: 38px;
}

.partner .content>h2{
	padding-top: 30px;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.left{
	display: inline-block;
	float: left;
	width: 460px;
}

.right{
	display: inline-block;
	float: right;
	width: 460px;
}

.partners .content .partners-block{
	margin: 0 auto;
	margin-top: 130px;
	clear: both;
}

.partners-block .photo{
	display: inline-block;
	float: left;
	height: 90px;
	width: 90px;
	border-radius: 50%;
}

	.client-1{
		background: url(img/clien-1.jpg) no-repeat;
		background-size: cover;
	}

	.client-2{
		background: url(img/client-2.jpg) no-repeat;
		background-size: cover;
	}

	.client-3{
		background: url(img/client-3.jpg) no-repeat;
		background-size: cover;
	}

	.client-4{
		background: url(img/client-4.jpg) no-repeat;
		background-size: cover;
	}

.partners-block .description{
	width: 370px;
	color: #fff;
}

.description .quote{
	text-transform: capitalize;
	font-style: oblique;
	padding-left: 110px;
}

.description .quote:after{
	content: "“";
	font-weight: bold;
}

.description .quote:before{
	content: "”";
	font-weight: bold;
}

.description .name{
	padding-top: 10px;
	color: #fff;
	font-size: 22px;
	text-align: right;
	text-transform: uppercase;
}

.description .business{
	padding-top: 10px;
	color: #ffdd99;
	font-size: 19px;
	text-align: right;
	text-transform: capitalize;
}

.get{
	background: #3c5499;
	min-height: 800px;
}

.get .content>h1{
	padding-top: 70px;
	color: #fff;
	font-size: 36px;
	text-align: center;
}

.get .content>h2{
	padding: 20px 0 40px 0;
	color: #fff;
	font-size: 18px;
	text-align: center;
}

.social{
	background: #344b8e;
	min-height: 100px;
}

.button{
	height: 60px;
	line-height: 60px;
	width: 250px;
	border-radius: 5px;
	border-bottom: 5px solid rgba(0,0,0,.2);
	font-size: 18pt;
	color: #fff;
	text-align: center;
	clear: both;
	margin: 0 auto;
	cursor: pointer;
}

.button-welcome{
	background: #eb7d4b;
	margin-top: 100px;
}

.button-portfolio{
	background: #17c2a4;
	margin-top: 900px;
}

.button-get{
	background: #30bae7;
	margin-top: 30px;
}

.cust-name, .cust-mail{
	border:0px;
	background: #273a71;
	width: 450px;
	height: 30px;
	font-size: 24px;
	color: #fff;
	margin: 5px;
	padding: 5px;
}

.textarea{
	border:0px;
	background: #273a71;
	width: 923px;
	font-size: 24px;
	color: #fff;
	height: 300px;
	margin: 5px;
	padding: 5px;
}

.social-menu{
	text-align: center;
}

.social-menu li{
	display: inline-block;
	text-transform: capitalize;
	margin-left: 30px;
	font-size: 28px;
	color: #fff;
}

.dia{
	width: 240px;
	display: inline-block;
	float: left;
	text-align: center;
	padding-top: 30px;
}

.dia h2{
	color: #3c4761;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}